* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f9fd;
}

nav{
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Silkscreen', san-serif;
    font-weight: 400;
    font-size: 50px;
    color: #ffffff;
    margin-top: 20px;
}

.about-me {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 200px;
    margin-bottom: 100px;
}

.boarder {
    position: absolute;
    top: 260px;
    right: 50px;
    width: 300px;
}

#about {
    background-color: #98c4eb;
    border-style: inset;
    border-color:black;
}   

#projects {
    padding: 100px;
    background-color: #1888dd;
}   

#tech {
    padding: 100px;
    text-align: center;
    background-color: #98c4eb;
}

#contact {
    padding: 100px;
    text-align: center;
    background-color: #1888dd;
}